<!DOCTYPE html>
<html>
  <head lang="fr">
    <meta charset="UTF-8">
    <title>Monux</title>

    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">{{ hostname }}</a>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          {% include "html/system.html" %}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          {% include "html/disks.html" %}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          {% include "html/ifaces.html" %}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          {% include "html/cpus.html" %}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <div class="panel panel-info">
            <div class="panel-heading">Memory</div>
            <div class="panel-body">
              <div id="memChart"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="vendor/jquery.min.js"></script>
    <script src="vendor/lodash.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendor/highstock.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/charts.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
